---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset 'utf-8';

// Brand colors
$brand-blue:       #4078c0 !default;
$brand-gray-light: #999    !default;
$brand-gray:       #767676 !default;
$brand-gray-dark:  #333    !default;
$brand-green:      #6cc644 !default;
$brand-red:        #bd2c00 !default;
$brand-orange:     #c9510c !default;
$brand-purple:     #6e5494 !default;

$brand:            $brand-orange;

@import 'normalize', 'base', 'utilities';

body {
    font: 14px/1.6 Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    color: #000;
    background: url(../images/texture-white.png) repeat;

    word-wrap: break-word;

    @media (max-width: 500px) {
        font-size: 12px;

        p {
            margin: 20px 0;
        }
    }
}

.container {
    max-width: 650px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;

    &:before {
        display: table;
        content: "";
    }

    &:after {
        display: table;
        clear: both;
        content: "";
    }
}

.hr {
    width: 25%;
    margin: 40px auto;
    border: none;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.rands0n {
    position: fixed;
    top: 2em;
    left: 2em;
    border: none;
}

// Sections
@import 'sections/header', 'sections/footer', 'sections/post', 'sections/archive';