---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset 'utf-8';

// Brand colors
$brand-blue:       #4078c0 !default;
$brand-gray-light: #999    !default;
$brand-gray:       #767676 !default;
$brand-gray-dark:  #333    !default;
$brand-green:      #6cc644 !default;
$brand-red:        #bd2c00 !default;
$brand-orange:     #c9510c !default;
$brand-purple:     #6e5494 !default;

$brand:            $brand-orange;

@import 'normalize', 'base', 'utilities', 'icons';

body {
    font: 14px/1.6 Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    color: #000;
    background: url(../images/texture-white.png) repeat;

    word-wrap: break-word;

    @media (max-width: 500px) {
        font-size: 12px;

        p {
            margin: 20px 0;
        }
    }
}

.container {
    max-width: 650px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;

    &:before {
        display: table;
        content: "";
    }

    &:after {
        display: table;
        clear: both;
        content: "";
    }
}

.hr {
    width: 25%;
    margin: 40px auto;
    border: none;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.rands0n {
    position: absolute;
    top: 2em;
    left: 2em;
    border: none;
}

.home {
    text-align: center;
    height: 100%;

    div {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: 240px;
        padding: 20px;
    }
}

.next,
.prev {
    display: block;
    font-size: 1.1em;
    font-weight: normal;
    opacity: .8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    overflow: hidden;
    padding: 50px;
    position: fixed;
    text-align: center;
    text-decoration: none;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    top: 45%;
    width: 250px;
    white-space: nowrap;
    z-index: 2;

    border-color: transparent;

    &:before {
        content: "";
        background: url("/images/up.png");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        height: 24px;
        left: 50%;
        margin-left: -12px;
        position: absolute;
        top: 25px;
        width: 24px;
    }

    &:hover {
        border-color: transparent;
    }
}

.prev {
    left: -120px;

    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.next {
    right: -120px;

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

// Sections
@import 'sections/header', 'sections/footer', 'sections/post', 'sections/archive', 'sections/nav';