---
layout: page
title: Tags
summary: Here you can find all the tags related to existent posts.
---

{% for tag in site.tags %}
  <section class="collapsible">{{tag[0]}}</section>

  <section class="content tags">
    <section class="archive">
      <ul>
        {% for post in tag[1] %}
        <li>
          <a href="{{ post.url }}">
            <h3 class="post-title">{{ post.title }}</h3>
            <section class="post-summary">{{ post.summary }}</section>
            <section class="post-meta">
              <span class="post-date">{{ post.date | date: "%b %d, %Y" }}</span>
              &mdash;
              <ul class="post-tags">
                {% for tag in post.tags %}
                  <li class="post-tag">{{tag}}</li>
                {% endfor %}
              </ul>
            </section>

            <hr />
          </a>
        </li>
        {% endfor %}
      </ul>
    </section>
    <!-- /archive -->
  </section>
{% endfor %}