<section class="hsticky">
  <a href="/" class="brand">
    <img src="/assets/images/avatar.png" />

    <section class="brand-meta">
      <div class="name">{{ site.title }}</div>
      <div class="bio">{{ site.bio }}</div>
    </section>
    <!-- /brand-meta -->
  </a>

  {% include socials.html %}
</section>

<section class="hsticky-nav">
  <ul>
    {% for nav in site.navs %}
      <li>
        <a
          href="{{ nav.url }}"
          class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}"
        >
          {{ nav.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</section>
