.collapsible {
  cursor: pointer;
  width: 98%;
  border: none;
  text-align: left;
  outline: none;
  border-radius: 5px;
  padding: 10px 2%;
  margin-top: 0;
}

.collapsible:after {
  content: '\002B';
  font-weight: bold;
  float: right;
  margin: -26px 0 0 0;
  font-size: 50px;
}

.active:after {
  content: "\2212";
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

@media (prefers-color-scheme: dark) {
  .collapsible {
    background-color: $snow;
    color: $polar;
  }
}

@media (prefers-color-scheme: light) {
  .collapsible {
    background-color: $polar;
    color: $snow;
  }
}