
/*
 * Background & Colors theme.
 *
 * The default colors if from nord theme. Which is a nice theme to use.
 */
$snow-light: #ECEFF4;
$snow-dark: #D8DEE9;
$snow: #E5E9F0;

$polar-light: #4C566A;
$polar-dark: #2E3440;
$polar: #434C5E;

$aurora-red: #BF616A;
$aurora-orange: #D08770;
$aurora-yellow: #EBCB8B;
$aurora-green: #A3BE8C;
$aurora-purple: #B48EAD;

$primary: $snow;
$secondary: $polar;
$danger: $aurora-red;

$font-family: 'Balsamiq Sans', cursive;
$sfont-family: 'Love Ya Like A Sister', cursive;
$font-size: 18px;
$font-style: normal;
$font-weight: 400;
$line-height: 1.8;

$media-small: 600px;
$media-medium: 768px;
$media-large: 992px;
$media-xlarge: 1200px;