---
# only the main sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import
  "variables",
  "hsticky",
  "archive",
  "post",
  "socials",
  "normalize",
  "sidebar",
  "container",
  "highlight",
  "talks",
  "collapsible",
  "chevron",
  "tags";

body {
  font-family: $font-family;
  font-size: $font-size;
  font-style: $font-style;
  font-weight: $font-weight;
  line-height: $line-height;
  color: $polar-light;
}

a {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sfont-family;
}

hr {
  width: 25%;
  margin: 2rem auto;
}

.picture {
  display: flex;
  justify-content: center;

  img {
    max-width: 32rem;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: url(/assets/images/texture-white.png) repeat;
  }

  a {
    color: $polar;

    ::hover {
      color: $polar-light;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }

  a {
    color: $snow;

    ::hover {
      color: $snow-light;
    }
  }

  body {
    background: $polar-dark;
    color: $snow-dark;
  }

  .sidebar {
    background-color: $snow-dark;
  }
}
