---
layout: default
---

{% if page.previous.url %}
<a href="{{ page.previous.url }}" class="prev">{{ page.previous.title }}</a>
{% endif %}

<div class="container">
    <div class="post post-page">
        <div class="post-title">
            <h2>{{ page.title }}</h2>
        </div>

        <div class="post-meta">
            <time class="post-meta-date" datetime="{{ page.date }}">{{ page.date | date: "%B %-d, %Y" }}</time>
            ·
            <span class="read-time" title="Estimate read time">
                {% assign words = content | number_of_words %}
                {% if words < 360 %}1 min read{% else %}{{ words | divided_by:180 }} min read{% endif %}
            </span>
        </div>

        <div class="post-content">
            {{ content }}
        </div>

        <div class="closing">
            <div class="bio">
                <a href="/" class="logo">
                    <img src="/images/rands0n.jpg" width="22">
                </a>
                By
                <a href="https://twitter.com/rands0n" class="twitter-follow">
                    @rands0n
                </a>
                <iframe src="http://platform.twitter.com/widgets/tweet_button.c633b87376883931e7436b93bb46a699.en.html#_=1452207712209&amp;dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;size=m&amp;text={{page.title}}&amp;type=share&amp;url={{page.url | prepend: site.url}}&amp;via=rands0n" title="Twitter Tweet Button" style="position: relative; visibility: visible;z-index: 1;width: 60px; height: 20px;" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" allowtransparency="true" scrolling="no" id="twitter-widget-0" frameborder="0"></iframe> <script src="http://platform.twitter.com/widgets.js" id="twitter-wjs"></script><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
        </div>
    </div>
</div>

{% if page.next.url %}
<a href="{{ page.next.url }}" class="next">{{ page.next.title }}</a>
{% endif %}