---
layout: default
---

<div class="container">
    <div class="post post-page">
        <div class="post-title">
            <h2>
                <a href="{{ page.url }}">{{ page.title }}</a>
            </h2>
        </div>

        <div class="post-meta">
            <time class="post-meta-date" datetime="{{ page.date }}">{{ page.date | date: "%B %-d, %Y" }}</time>
            ·
            <span class="read-time" title="Estimate read time">
                {% assign words = content | number_of_words %}
                {% if words < 360 %}1min{% else %}{{ words | divided_by:180 }} min read{% endif %}
            </span>
        </div>

        <div class="post-content">
            {{ content }}
        </div>

        <div class="text-center">
            <img class="emoji" title=":beer:" alt=":beer:" src="https://assets.github.com/images/icons/emoji/unicode/1f37a.png" height="20" width="20" align="absmiddle">
            <img class="emoji" title=":beers:" alt=":beers:" src="https://assets.github.com/images/icons/emoji/unicode/1f37b.png" height="20" width="20" align="absmiddle">
        </div>
    </div>
</div>