.archive {
    margin: 5em 0em 0em 4em;

    h4 {
        margin: 0;

        a {
            color: $brand-orange;
            border: none;
        }
    }

    .posts {
        margin: 0;
        padding: 0;

        li {
            padding: 2px 0;

            &:nth-child(2),
            &:first-child,
            &.currentyear,
            &.currentyear+li {
                border-top: none;
            }

            &::before {
                content: "";
            }

            time {
                float: left;
                color: $brand-gray-light;
                font-size: 12px;
                margin-right: 22px;
                width: 90px;
                line-height: 34px;
                text-align: right;

                @media (max-width: 500px) {
                    .day {
                        display: none;
                    }
                }
            }

            a {
                box-shadow: none;
                font-size: 14px;
                line-height: 30px;
                color: $brand-gray-dark;
            }

            @media (max-width: 500px) {
                time {
                    font-size: 10px;
                    width: 48px;
                    height: 30px;
                    line-height: 24px;
                }

                a {
                    font-size: 14px;
                }
            }
        }
    }

    .previous,
    .next {
        float: right;
        border: none;
    }

    .pagination {
        margin-bottom: 1em;
        a {
            border-bottom: none;
        }
    }
}