.archive {

    h4 {
        margin: 0;

        a {
            color: $brand-orange;
            border: none;
        }
    }

    .posts {
        margin: 0;
        padding: 0;

        li {
            padding: 8px 0;

            &:nth-child(2),
            &:first-child,
            &.currentyear,
            &.currentyear+li {
                border-top: none;
            }

            time {
                float: left;
                color: #767676;
                font-size: 12px;
                margin-right: 10px;
                width: 90px;
                line-height: 34px;
                text-align: right;
            }

            a {
                box-shadow: none;
                font-size: 20px;
                color: $brand-gray-dark;
            }
        }
    }

    .previous,
    .next {
        float: right;
        border: none;
    }

    .pagination {
        margin-bottom: 1em;
        a {
            border-bottom: none;
        }
    }
}