header {
    margin-top: 10px;

    h1 {
        margin: 0;
        border-bottom: 1px dotted rgba(0,0,0,0.4);

        a {
            border-bottom: none;
            color: inherit;
        }
    }

    p {
        margin: 5px 0;
    }
}