header {
    h1 {
        border-bottom: 1px dotted $brand-gray-light;

        a {
            border-bottom: none;
            color: inherit;
        }
    }
}

#home {
    text-align: center;
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 400px;

    .inner {
        height: 130px;
        width: 300px;
        text-align: center;

        h1 {
            font-weight: normal;
            font-size: 18px;
            margin-bottom: 18px;
        }

        .links {
            font-size: 11px;

            a {
                display: inline-block;
                margin: 0 10px;
            }
        }
    }
}