.post {
    &.post-page {
        margin-top: 80px;
    }


    .post-content-meta {
        font-size: 11px;
        color: #999;
        margin-bottom: -14px;
        margin-top: -20px;
    }

    .post-meta {
        margin: 5px 0 0 0;
        font-style: italic;
        color: $brand-gray-light;
        display: inline-block;

        transition: color .1s linear;

        &:hover {
            color: $brand-gray-dark;
        }
    }

    .post-title {
        font-weight: 500;

        h2 {
            line-height: 1.2;
            font-size: 30px;
            margin: 0;
            font-family: inherit;
            font-size: 16px;
            color: $brand-red;
            font-weight: normal;

            a {
                border: none;
            }

            @media (max-width: 500px) {
                font-size: 18px;
                line-height: inherit;
            }
        }
    }

    .post-excerpt {
        margin-top: 4em;
        margin-bottom: 4.5em;

        &:first-child {
            margin-top: 0;
        }
    }

    .post-content {
        margin-top: -14px;

        .pull-quote {
            line-height: 1.4;
            text-align: center;
            font-size: 32px;
            margin: 48px 0;
            border: none;
            padding: 0;
            letter-spacing: .01rem;
            font-weight: 400;
            font-style: italic;
        }

        .hero {
            height: 250px;
        }

        .flash {
            background: #F4F2F0;
            // margin: 0 0 1.5em;
            padding: 1em 1.5em;
        }

        .tldr {
            margin-bottom: 25px;
            padding: 15px;
            background: #eee;
            line-height: 20px;
        }

        .alt {
            font-size: 13px;
            color: #999;
            text-align: center;
            font-style: oblique;
            display: block;
            margin-top: -40px;
            margin-bottom: 30px;
        }

        hr {
            border-style: none;
            margin-top: 35px;
            margin-bottom: 50px;
            text-align: center;

            &::after {
                content: '***';
                text-align: center;
                display: inline;
            }
        }

        h2 {
            font-family: inherit;
            font-size: 14px;
            color: #999;
        }
    }
}
.carnival-comment-indicator {

    &:hover {
        svg {
            path {
                fill: $brand-gray-dark !important;
            }
        }
    }

    &.commenting {
        svg {
            path {
                fill: $brand-gray-dark !important;
            }
        }
    }

    svg {
        path {
            fill: $brand-gray-dark;

            &:hover {
                fill: $brand-gray-dark !important;
            }
        }
    }
}

.carnival-comment-form .carnival-create,
.carnival-comment-form form input[type="submit"] {
    background: $brand-gray-dark;
    border-radius: 3px;
    border: 0;
    color: white;
    display: block;
    font-family: "calluna-sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 0.95rem !important;
    font-weight: bold;
    line-height: normal;
    padding: 0.4rem 0.6rem !important;
    text-align: center;
}

.carnival-branding {
    display: none;
}

@keyframes open-comments {
    0% {
        left: 0
    }
    100% {
        left: -150px
    }
}

@-webkit-keyframes open-comments {
    0% {
        left:0
    }
    100% {
        left: -150px
    }
}

@-webkit-keyframes close-comments {
    0% {
        left:-150px
    }
    100% {
        left:0
    }
}

@keyframes close-comments {
    0% {
        left:-150px
    }
    100% {
        left:0
    }
}

.post-content.comments-hidden {
    -webkit-animation: close-comments 0.1s ease-in-out none;
    animation: close-comments 0.1s ease-in-out none
}

.post-content.commenting {
    -webkit-animation: open-comments 0.1s ease-in-out none;
    animation:open-comments 0.1s ease-in-out none;
}